<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home Page</title>
<meta charset="UTF-8">
<link th:href="@{/styles/basicstyles.css}" rel="stylesheet" />
</head>

<body>

	<div th:object="${book}">
		<h1 th:text="*{title}"></h1>
		<h3 th:text="*{isbn}"></h3>
		<h3 th:text="*{author}"></h3>
		<h3 th:text="*{type}"></h3>
	</div>

	<h1 th:text="${booksList.toString}"></h1>


	<div th:each="book : ${booksList}">
		<h1 th:text="${book.title}"></h1>
		<h3 th:text="${book.isbn}"></h3>
		<h3 th:text="${book.author}"></h3>
		<h3 th:text="${book.type}"></h3>
	</div>
	


</body>

</html>